In [1]:
import pandas as pd
import numpy as np

a. Extraer información del archivo

b. Mostrar la estructura y tipos de datos de cada columna para identificar qué operaciones puedes realizar con cada una de ellas, asegurándote que las columnas con fechas sean de tipo *datetime64*

In [2]:
vaccs = pd.read_csv('/content/drive/MyDrive/Data Science (Arnoldo Ramirez) - Learning Gate/02 Pandas & Numpy/country_vaccinations.csv', parse_dates=['date'])

vaccs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86512 entries, 0 to 86511
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              86512 non-null  object
 1   iso_code                             86512 non-null  object
 2   date                                 86512 non-null  datetime64[ns]
 3   total_vaccinations                   43607 non-null  float64
 4   people_vaccinated                    41294 non-null  float64
 5   people_fully_vaccinated              38802 non-null  float64
 6   daily_vaccinations_raw               35362 non-null  float64
 7   daily_vaccinations                   86213 non-null  float64
 8   total_vaccinations_per_hundred       43607 non-null  float64
 9   people_vaccinated_per_hundred        41294 non-null  float64
 10  people_fully_vaccinated_per_hundred  38802 non-null  float64
 11  daily_vaccinations_per_million       86213 non-null  float64
 12  vaccines                             86512 non-null  object
 13  source_name                          86512 non-null  object
 14  source_website                       86512 non-null  object
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 9.9+ MB

-------------------------------
c. Determinar la cantidad de vacunas aplicadas de cada compañía (Con base en cómo lo reporta cada país en la columna vaccines)

In [11]:
#Nota: Para resolver este ejercicio fue necesario leer un archivo distinto
#al que se indica en las instrucciones
vaccs_by_manufacturer = pd.read_csv('/content/drive/MyDrive/Data Science (Arnoldo Ramirez) - Learning Gate/02 Pandas & Numpy/country_vaccinations_by_manufacturer.csv')

vaccs_by_manufacturer[['vaccine', 'total_vaccinations']].groupby(vaccs_by_manufacturer['vaccine']).sum()

                    total_vaccinations
vaccine
CanSino                      271397675
Covaxin                           3572
Johnson&Johnson            12611375881
Moderna                   103072147621
Novavax                        8268113
Oxford/AstraZeneca         46451509497
Pfizer/BioNTech           344835955037
Sinopharm/Beijing          10877006517
Sinovac                    13407163275
Sputnik V                   5787343199

-------------------------
d. Obtener la cantidad de vacunas aplicadas en todo el mundo

In [4]:
totalvaccs = vaccs['daily_vaccinations_raw'].sum()

print('El total de vacunas aplicadas en todo el mundo es ', totalvaccs)

El total de vacunas aplicadas en todo el mundo es  9568942286.0

-----------------------------------
e. Calcular el promedio de vacunas aplicadas por país

In [5]:
vaccs[['country', 'total_vaccinations']].groupby(vaccs['country']).mean()

                   total_vaccinations
country
Afghanistan              2.566118e+06
Albania                  1.191695e+06
Algeria                  9.956086e+06
Andorra                  5.827721e+04
Angola                   6.074066e+06
...                               ...
Wales                    4.132861e+06
Wallis and Futuna        9.142925e+03
Yemen                    4.794049e+05
Zambia                   1.048484e+06
Zimbabwe                 4.181618e+06

[223 rows x 1 columns]

----------------------------
f. Determinar la cantidad de vacinas aplicadas el día 29/01/21 en todo el mundo

In [6]:
vaccs290121 = vaccs[vaccs['date'] == pd.Timestamp("2021-01-29")]
print('El total de vacunas aplicadas el día 29/01/2021 en todo el mundo fue de:', vaccs290121['daily_vaccinations_raw'].sum() )

El total de vacunas aplicadas el día 29/01/2021 en todo el mundo fue de: 5032250.0

------------------
g. Crear un dataframe nuevo denominado **conDiferencias** que contenga los datos originales y una columna derivada (diferencias) con las diferencias de aplicación entre las columnas daily_vaccinations y daily_vaccinations_raw

In [7]:
conDiferencias = vaccs
conDiferencias['diferencias'] = conDiferencias['daily_vaccinations'] - conDiferencias['daily_vaccinations_raw']

conDiferencias

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website,canVaccs,diferencias
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,4,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,4,NaN
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,4,NaN
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,4,NaN
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86507,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,139213.0,69579.0,57.59,31.90,23.02,4610.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,4,-69634.0
86508,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,100086.0,83429.0,58.25,32.38,23.11,5528.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,4,-16657.0
86509,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,53311.0,90629.0,58.61,32.59,23.15,6005.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,4,37318.0
86510,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,89321.0,100614.0,59.20,32.97,23.20,6667.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,4,11293.0
86511,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,105369.0,103751.0,59.90,33.48,23.26,6874.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...,4,-1618.0

---------------------------
h. Obtener el periodo de tiempo entre el registro con fecha más reciente y el registro con fecha más antigua

In [8]:
print('Registro más reciente:', conDiferencias['date'].max())
print('Registro más antiguo:', conDiferencias['date'].min())

Registro más reciente: 2022-03-29 00:00:00
Registro más antiguo: 2020-12-02 00:00:00

----------------------------
i. Crear un dataframe nuevo denominado conCantidad que contenga los datos originales y una columna derivada (canVac) con la cantidad de vacunas utilizadas cada día (usar la volumna vaccines y separar por el carácter /)

In [9]:
conCantidad = vaccs

conCantidad['canVac'] = conCantidad['vaccines'].str.split(', ').str.len()

conCantidad[['country', 'canVac']].groupby(conCantidad['country']).mean()

                   canVac
country
Afghanistan           4.0
Albania               4.0
Algeria               4.0
Andorra               3.0
Angola                1.0
...                   ...
Wales                 3.0
Wallis and Futuna     1.0
Yemen                 3.0
Zambia                3.0
Zimbabwe              4.0

[223 rows x 1 columns]

-------------
j. Generar un dataframe denominado antes20 con todos los registros que se hayan realizado antes del 20 de diciembre de 2020.

In [14]:
antes20 = vaccs[vaccs['date'] < pd.Timestamp("2020-12-20")]

antes20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 13403 to 82366
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              70 non-null     object
 1   iso_code                             70 non-null     object
 2   date                                 70 non-null     datetime64[ns]
 3   total_vaccinations                   47 non-null     float64
 4   people_vaccinated                    46 non-null     float64
 5   people_fully_vaccinated              8 non-null      float64
 6   daily_vaccinations_raw               34 non-null     float64
 7   daily_vaccinations                   62 non-null     float64
 8   total_vaccinations_per_hundred       47 non-null     float64
 9   people_vaccinated_per_hundred        46 non-null     float64
 10  people_fully_vaccinated_per_hundred  8 non-null      float64
 11  daily_vaccinations_per_million       62 non-null     float64
 12  vaccines                             70 non-null     object
 13  source_name                          70 non-null     object
 14  source_website                       70 non-null     object
 15  canVaccs                             70 non-null     int64
 16  diferencias                          34 non-null     float64
 17  canVac                               70 non-null     int64
dtypes: datetime64[ns](1), float64(10), int64(2), object(5)
memory usage: 10.4+ KB

--------------
k. Obtener un dataframe denominado pfizer con todos los registros donde se haya utilizado la vacuna Pfizer.

In [16]:
pfizer = vaccs[vaccs['vaccines'].str.contains('Pfizer', case=False)]

pfizer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64193 entries, 0 to 85073
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              64193 non-null  object
 1   iso_code                             64193 non-null  object
 2   date                                 64193 non-null  datetime64[ns]
 3   total_vaccinations                   37891 non-null  float64
 4   people_vaccinated                    36097 non-null  float64
 5   people_fully_vaccinated              34332 non-null  float64
 6   daily_vaccinations_raw               31818 non-null  float64
 7   daily_vaccinations                   64013 non-null  float64
 8   total_vaccinations_per_hundred       37891 non-null  float64
 9   people_vaccinated_per_hundred        36097 non-null  float64
 10  people_fully_vaccinated_per_hundred  34332 non-null  float64
 11  daily_vaccinations_per_million       64013 non-null  float64
 12  vaccines                             64193 non-null  object
 13  source_name                          64193 non-null  object
 14  source_website                       64193 non-null  object
 15  canVaccs                             64193 non-null  int64
 16  diferencias                          31818 non-null  float64
 17  canVac                               64193 non-null  int64
dtypes: datetime64[ns](1), float64(10), int64(2), object(5)
memory usage: 9.3+ MB

-----------------
l. Almacenar los dataframes generados (conDiferencias, conCantidad, antes20 y pfizer) en un archivo de Excel denominado resultadosReto.xlsx, donde cada dataframe ocupe una hoja diferente. Se recomienda ver la documentación de pd.ExcelWriter.

In [19]:
writer = pd.ExcelWriter('/content/drive/MyDrive/Data Science (Arnoldo Ramirez) - Learning Gate/02 Pandas & Numpy/resultadoReto.xlsx')

conDiferencias.to_excel(writer, sheet_name='conDiferencias')
conCantidad.to_excel(writer, sheet_name='conCantidad')
antes20.to_excel(writer, sheet_name='antes20')
pfizer.to_excel(writer, sheet_name='pfizer')

writer.save()